@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
   
}
body{
    background-image: url("./bgImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    padding: 0 auto;
    color: white
}

.btn{
    outline: none;
    border: none
}
#start-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 170px;
    height: 60px;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid gray;
    margin: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.scoreResult{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 170px;
    height: 60px;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid gray;
    margin: 50px

}
.main{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 50px
 
}

.container{
    display: grid;
    grid-auto-flow: column;
    
}


.grid{
    width: 200px;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;

}
.grid div{
    height: 20px;
    width: 20px;
    margin:0;
    padding: 0;
}

.tetromino{
    background-color: blue;

}

.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    margin-left: 50px
}

.mini-grid div{
    width: 20px;
    height: 20px;
}
.grid div, 
.mini-grid div{
    border: 0.001px solid rgb(113, 111, 111)
}
.taken{
    background-color: rgb(160, 17, 160);
    border-color: none;
}